.drawer {
    position: fixed;
    background: white;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    margin-top: 65px;
}
.drawer.closed {
    transition: transform 0.3s, opacity 0.2s, visibility 0.2s;
    /* opacity: 0; */
    /* visibility: hidden; */
    transform: translateY(-100%);
}

.drawer.opened {
    transition: transform 0.3s, opacity 0.2s;
    transform: translateY(0);
    /* opacity: 1; */
    /* visibility: visible; */
}
