.wrapper{
    position: relative;
}

@media only screen and (max-width: 600px) {
    .wrapper{
        padding-bottom: calc(100% + 167px);
    }
}

@media only screen and (min-width: 600px) {
    .wrapper{
        height: 670px;
    }
}

