.hero {
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero p {
    text-align: center;
    color: hsl(0, 0%, 61%);
    padding-top: 16px;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
}
.title {
    font-size: 1rem;
    font-weight: 700;
    flex: 0 0 70%;
    text-align: left;
}
.date {
    font-size: 1rem;
    font-weight: 400;
    color: hsl(0, 0%, 70%);
    flex: 0 0 30%;
    text-align: right;
}

.post {
    padding: 10px 0;
    max-width: 500px;
    margin: 0 auto;
}

.post:first-child {
    padding-top: 3rem;
}